html, body {
    height: 100%;
    margin: 0;
}

body {
    /* градиентный фон */
    background: linear-gradient(
            45deg,
            rgb(195, 96, 42) 0%,
            rgba(11, 3, 45, 1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    /*height: auto;*/
    width: auto;
    /*margin: 0; !* Убрать внешние отступы *!*/
    /*padding: 0; !* Убрать внутренние отступы *!*/
}

.background-image {
    /* градиентный фон */
    /*background: linear-gradient(*/
    /*        45deg,*/
    /*        rgb(195, 96, 42) 0%,*/
    /*        rgba(11, 3, 45, 1) 100%*/
    /*);*/
    padding-top: 30%;
    position: relative;
    padding-block: 10%;
    /*width: auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /* Здесь можно задать высоту 100vh или 100%, как вам удобнее */
    /*height: 100vh;*/
}


.div-full {
    position: fixed;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1;
}

.background_mars {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    /* position: absolute;*/
    /*  left: 50%;*/
    /*  top: 50%;*/
    /*  transform: translate(-50%, -50%);*/
}


.container {
    display: flex;
    justify-content: center; /*центрирует элементы горизонтально .*/
    margin-top: auto;
    flex-wrap: wrap;
    height: 90vh; /* Установим высоту контейнера равной высоте экрана */
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.orbit {
    width: 600px;
    height: 600px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    border-radius: 100%;
    margin: -150px auto;
    /*-webkit-animation: orbit 12.81216s linear infinite;*/
    animation: orbit 12.81216s linear infinite;
}

.planet {
    background: #c25447;
    box-shadow: inset -30px -30px 0px #bf4d3f;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.planet:before {
    content: "";
    background: #b4483c;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    margin: 50px 100px;
}

.planet:after {
    content: "";
    background: #b84a3d;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: -20px 40px;
}

.moon {
    background: #9e9e9e;
    box-shadow: inset -7px -7px 0 #8c8c8c;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 65px;
}

.moon:before {
    content: "";
    background: #949494;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 10px 10px;
}

.moon:after {
    content: "";
    background: #949494;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: block;
    margin: -7px 20px;
}

@-webkit-keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}