@import "src/Styles/Variables.sass"

.cards-list-wrapper
  width: 100%
  //background: #fff
  //box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2)
  //border-radius: 15px

  .top
    width: 100%
    //border-bottom: 2px solid $primary
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center
    justify-content: center

  .bottom
    width: 100%
    padding: 20px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.15fr))
    grid-column-gap: 25px
    grid-row-gap: 25px
    justify-content: center

  .mars-station-table
    position: relative
    color: white
    justify-content: center

  .tables-container
    display: flex

.bold-header
  font-weight: bold

.styled-datagrid 
  opacity: 0.8
  background-color: rgba(0, 0, 0, 0.3)
  color: rgba(255, 255, 255, 1)
  font-size: 15px

//
//    .table
//    margin-right: 5px
//    /* Для отступа между таблицами */
//    background-color: transparent !important
//    border: none !important
//    //overflow: hidden /* Убрать бордер вокруг таблицы */
//
//    .ant-table
//      background-color: rgba(255, 255, 255, 0.9) !important
//      /* Прозрачный фон таблицы */
//      border: 2px solid orange !important
//      /* Цвет бордера таблицы */
//      border-radius: 8px !important
//      /* Радиус закругления углов */
//      overflow: hidden !important
//      /* Убрать бордер вокруг таблицы */
//
//
//      .ant-table-cell
//        background-color: orange !important
//        /* Цвет фона ячейки таблицы */
//        color: black !important
//    /* Цвет текста в ячейке таблицы */
//
//
//    .ant-spin-container
//      background-color: transparent !important
//      /* Прозрачный фон таблицы */
//
//      .ant-table-container
//        background-color: transparent !important
//
//        .ant-table-content
//          background-color: transparent !important
//
//          .ant-table-tbody
//            background-color: transparent !important
//
//            .ant-table-cell
//              background-color: transparent !important
//              border: none !important
//              overflow: hidden !important
//    /* Убрать бордер вокруг таблицы */
//
//
//    .ant-table-thead
//      th
//        background-color: orange !important
//        /* Цвет фона заголовка */
//        color: black
///* Цвет текста в заголовке */
